<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-12 container">

      <div class="container text-center container-cards-evaluation-list">

        <div class="mt-3 row">
          <h1 class="text-title-banner">
          EVALUATIONS</h1>
        </div>

        <div class="card-evaluation-list" *ngFor="let evaluation of list_evaluations">
          <a class="row" routerLink="/{{ evaluation.url }}">
            <div class="col image-evaluation-list">
              <img class="img-profile" src="https://www.w3schools.com/howto/img_avatar.png">
            </div>
            <div class="col">
              {{ evaluation.name_project }}
            </div>
            <div class="col">
              <div class="rating pe-none">
                <ng-container *ngFor="let _ of [].constructor(evaluation.score); let i = index">
                  <label for="{{'score-rating-' + i}}">★</label>
                </ng-container>
              </div>
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

