.container-cards-technical-test-form {
  background-color: #818870;
  padding: 2% 3%;
}

.container-cards-technical-test-form .mt-3 {
  color: white;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-left {
  text-align: left;
  margin-bottom: 0;
  padding-top: 1%;
}

.text-right {
  text-align: right;
}

.card-technical-test-form{
  background-color: #283138;
  padding: 2%;
  border-radius: 0.625rem;
  display: flex;
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  color: #FFF;
  font-size: 1.25rem;
  font-style: normal;
  line-height: normal;
}

.card-technical-test-form img{
  width: 20%;
  border-radius: 3em;
}

.rating {
  color: #ff9900;
  font-size: 0; /* Remove any font size */
  direction: rtl; /* Set direction to right-to-left for proper star display */
}

/* Hide the radio input element of the rating bar */
.rating input {
  display: none;
}

/* Style the label elements to display as stars and to allow for interactivity */
.rating label {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
  color: #ff9900;
  transform: rotateY(180deg); /* Flip the star to display properly */
}

.btn-confirm{
  background-color: #828F9A;
  color: #ffffff
}

p.observations {
  font-size: 1rem;
}

.data-technical-test-form {
  text-align: left;
}
