.navbar{
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
  
  .site{
    color:#ffffff;
    font-size: x-large;
  }
  
.img-title{
  width: 10em;
  height: 1.5em;
}

.img-dropdown{
  padding-bottom: 1em;
  padding-left: 1em;
}

.dropdown-toggle { outline: 0; }

.dropdown-ul{
  margin-top: -38%;
}
