<div class="container align-items-center" *ngIf="user">
    <div class="row align-items-center">
      <div class="col-xs-10 col-12 container">
        <div class="mt-3 row">
            <h1 class="text-title-banner">
            <img src="assets/images/abc-jobs-tie.png" alt="Logo de la pagina" class="img-logo-banner">
            VIEW PROFILE</h1>
        </div>
          <div>
              <div class="row">
                <div class="col-12">
                  <h3 class="title-section">Personal Data</h3>
                  <div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <div class="row">
                            <div class="col-xs-12 col-7 col-lg-4">
                              <span>
                                <label class="hoverable" for="fileInput">
                                  <img class="img-profile" [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'">
                                  <div class="hover-text">Choose file</div>
                                  <div class="background"></div>
                                </label>
                              </span>
                              <br/>
                            </div>
                            <div class="col-xs-12 col-5 col-lg-8">
                              <div class="mb-3 row">
                                <label for="name" class="col-xs-5 col-md-4 col-form-label text-white">Name</label>
                                <div class="col-xs-7 col-md-8">
                                  <div>
                                    {{ user.personalInformation.name }}
                                  </div>
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="lastName" class="col-xs-5 col-md-4 col-form-label text-white">Last Name</label>
                                <div class="col-xs-7 col-md-8  ">
                                  {{ user.personalInformation.lastName }}
                                </div>
                              </div>
                              <div class="mb-3 row">
                                <label for="birthdate" class="col-xs-5 col-md-4 col-form-label text-white">Birthdate</label>
                                <div class="col-xs-7 col-md-8">
                                  {{ user.personalInformation.birthdate | date: 'yyyy-MM-dd' }}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="typeIdentification" class="col-xs-5 col-md-4 col-form-label text-white">Type Identification</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.typeIdentification }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="identification" class="col-xs-5 col-md-4 col-form-label text-white">Identification</label>
                            <div class="col-xs-7 col-md-8">
                                {{ user.personalInformation.identification }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="genre" class="col-xs-5 col-md-4 col-form-label text-white">Genre</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.genre }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="phoneNumber" class="col-xs-5 col-md-4 col-form-label text-white">Phone Number</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.phoneNumber }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="mobileNumber" class="col-xs-5 col-md-4 col-form-label text-white">Mobile Number</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.mobileNumber }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                          <label for="country" class="col-xs-5 col-md-4 col-form-label text-white">Country</label>
                          <div class="col-xs-7 col-md-8">
                            {{ user.personalInformation.country }}
                          </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="state" class="col-xs-5 col-md-4 col-form-label text-white">State</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.state }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="city" class="col-xs-5 col-md-4 col-form-label text-white">City</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.city }}
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="mb-3 row">
                            <label for="address" class="col-xs-5 col-md-4 col-form-label text-white">Address</label>
                            <div class="col-xs-7 col-md-8">
                              {{ user.personalInformation.address }}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-12">
                      <h3 class="title-section">Additional Information</h3>
                        <div>
                          <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                <div class="mb-3 row">
                                  <label for="transferAvailability" class="col-xs-5 col-md-4 col-form-label text-white">Transfer Availability</label>
                                  <div class="col-xs-7 col-md-8">
                                    {{ user.aditionalInformation.transferAvailability }}
                                  </div>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="mb-3 row">
                                  <label for="driverLicense" class="col-xs-5 col-md-4 col-form-label text-white">Driver License</label>
                                  <div class="col-xs-7 col-md-8">
                                    {{ user.aditionalInformation.driverLicense }}
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                              <div class="form-group">
                                  <div class="mb-3 row">
                                    <label for="vehicle" class="col-xs-5 col-md-4 col-form-label text-white">Vehicle</label>
                                    <div class="col-xs-7 col-md-8">
                                      {{ user.aditionalInformation.vehicule }}
                                    </div>
                                  </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                  <h3 class="title-section pt-4">Academic Information</h3>
                  <div>
                    <ng-container *ngFor="let acainf of user.academicInformation; index as i">
                      <div class="card card-info mb-3" id="{{'academicInformationCard' + i}}">
                        <div class="row">
                          <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">School Name:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{ acainf.schoolName }}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Start Date:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{ acainf.startDate | date: 'yyyy-MM-dd' }}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Level:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{ acainf.educationLevel}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Sector:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{ acainf.professionalSector}}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">End Date:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{ acainf.endDate | date: 'yyyy-MM-dd' }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                  <h3 class="title-section pt-4">Professional Experience</h3>
                  <div>
                    <ng-container *ngFor="let acainf of user.professionalExperience; index as i">
                      <div class="card card-info mb-3" id="{{'professionalExperienceCard' + i}}">
                        <div class="row">
                          <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Title Job:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{acainf.titleJob}}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Start Date:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{acainf.startDate | date: 'yyyy-MM-dd' }}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Details:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white text-justify">{{acainf.details}}</label>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">Company:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{acainf.companyName}}</label>
                              </div>
                            </div>
                            <div class="mb-3 row">
                              <label class="col-lg-5 col-form-label text-white">End Date:</label>
                              <div class="col-lg-7">
                                <label class="col-form-label text-white">{{acainf.endDate | date: 'yyyy-MM-dd' }}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                  <h3 class="title-section pt-4">Technical Skills</h3>
                  <div class="card card-info mb-3" id="technicalSkillsCard">
                    <div>
                      <ng-container *ngFor="let acainf of user.programmingLanguages; index as i">
                        <div class="row" id="{{'row' + i}}">
                          <div class="col-6">
                            <label class="col-form-label text-white">{{ acainf.name }}</label>
                          </div>
                          <div class="col-6">
                            <div class="rating-yellow pe-none">
                              <ng-container *ngFor="let _ of [].constructor(acainf.score); let i = index">
                                <label for="{{'rating-' + i}}">★</label>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                  <h3 class="title-section pt-4">Personal Skills</h3>
                  <div class="card card-info mb-3" id="personalSkillsCard">
                    <div>
                      <ng-container *ngFor="let acainf of user.personalSkills; index as i">
                        <div class="row" id="{{'row' + i}}">
                          <div class="col-6">
                            <label class="col-form-label text-white">{{ acainf.name }}</label>
                          </div>
                          <div class="col-6">
                            <div class="rating-yellow pe-none">
                              <ng-container *ngFor="let _ of [].constructor(acainf.score); let i = index">
                                <label for="{{'rating-' + i}}">★</label>
                              </ng-container>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                  <h3 class="title-section pt-4">Languages</h3>
                  <div class="card card-info mb-3" id="languagesCard">
                    <div>
                      <ng-container *ngFor="let acainf of user.languages; index as i">
                        <div class="row" id="{{'row' + i}}">
                            <div class="col-6">
                              <label class="col-form-label text-white">{{ acainf.language }}</label>
                            </div>
                            <div class="col-6">
                              <div class="rating-yellow pe-none">
                                <ng-container *ngFor="let _ of [].constructor(acainf.score); let i = index">
                                  <label for="{{'rating-' + i}}">★</label>
                                </ng-container>
                              </div>
                            </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
