<div class="container align-items-center">
  <div class="row align-items-center">
    <div class="col-xs-10 col-12 container">

      <div class="container text-center container-cards-technical-test-list">

        <div class="mt-3 row">
          <h1 class="text-title-banner">
          TECHNICAL TEST</h1>
        </div>

        <div class="card-technical-test-list" *ngFor="let technical_test of list_technical_test">
          <a class="row" routerLink="/{{ technical_test.url }}">
            <div class="col image-technical-test-list">
              <img class="img-profile" src="https://www.w3schools.com/howto/img_avatar.png">
            </div>
            <div class="col">
              {{ technical_test.name }}
            </div>
            <div class="col">
              {{ technical_test.name_project }}
            </div>
            <div class="col">
              {{ technical_test.score }}
            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

