/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    background: rgb(162,190,81);
    background: linear-gradient(0deg, rgba(162,190,81,1) 0%, rgba(122,141,92,1) 33%, rgba(86,95,102,1) 100%) fixed;
}

@font-face {
    font-family: jura;
    src: url(assets/fonts/Jura.woff2) format("opentype");
}
